<!DOCTYPE html>
<html>
<head>
  <title>Sara Stibitz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
    <div class="header_title">
      <p><%= image_tag "wwf-logo-design.jpg", :class => "panda"  %></p>
      <p>SARA STIBITZ <span class="biz_type">CIVIL RIGHTS MEDIATION CONSULTING</span></p>
    </div>
    <div class="phone_no"><p>CELL <span class="cell_no">612.483.7936</span></p></div>
</div>

<%= yield %>

</body>
</html>
