<!DOCTYPE html>
<html>
<head>
  <title>SaraStibitz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
    <div class="header_title">
      <p><%= image_tag "wwf-logo-design.jpg", :class => "panda"  %></p>
      <p class="header">SARA STIBITZ <span class="biz_type">Civil Rights Mediation Consulting</span></p>
    </div>
    <div class="phone_no"><h3>TEL: (612) 483-7936</h3></div>
</div>

<%= yield %>

</body>
</html>
